


/* ===== PAGINA 1 — ajustes específicos ===== */

/* Página 1 NÃO tem botão voltar */
.controle-voltar {
    display: none;
}

/* Empurrar o ícone "avançar" mais para a direita */
.controle-avancar {
    margin-left: 10px;
}

/* Ajuste fino do espaçamento do player */
.player-box {
    margin-top: 10px;
}


/* Esconder o botão "Voltar" na página 1 */
#btnVoltar {
    opacity: 0;
    pointer-events: none;
}
